box-name=yourgym
box-id=1234
days-in-advance=1
booking-goals={"0":{"time":"1900","name":"WOD"},"1":{"time":"1900","name":"WOD"},"2":{"time":"1900","name":"WOD"},"3":{"time":"1900","name":"WOD"},"4":{"time":"1900","name":"WOD"}}
proxy=
family-id=
